[Seat:*]
greeter-session=nody-greeter
user-session=ubuntu
allow-guest=false
allow-user-switching=true
greeter-hide-users=true
greeter-show-manual-login=true
greeter-setup-script=/usr/share/42/scripts/hook-greeter-setup.sh
